.form{
	background-color: lightgrey;
	color: white;
	border: 3px solid cyan;
	padding: 25px;
	width: 40%;
	height: auto;
	border-radius: 10px;
	position: relative;
	top:10 ;
	left: 55%;
}

.button{
	background-color: gold;
	color: black;
	border: 3px solid black;
	width: 20%;
	height: auto;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	top: ;
	left: 40%;
}

.form3{
	background-color: goldenrod;
	color: black;
	border: 1px solid black;
	width: 70%;
	height: auto;
	padding: 10px;
	 border-radius: 5px;
	 font-family: cursive;
	 font-size: 20px;
	 justify-content: space-evenly;

}

.head1{
	background-color: black;
	color: red;
	font-size: 25px;
	font-family: cursive;
	width: 60%;
	height: auto;
	border: 2px solid blue;
	border-radius: 10px;
	justify-content: center;
	position: relative;
	left: 18%;
	padding: 20px;

}

body{
	background-color: firebrick;
}

.p1{ background-color: limegreen;
	border: 1px solid black;
	border-radius: 10px;
	width: 48%;
	height: 20%;
	padding: 20px;
	position: absolute;
	top: -23px;
	left: %;
	font-size: 30px;

}